@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e2f;
  }

  ::-webkit-scrollbar-thumb {
    background: #4b4b6a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6b6b8a;
  }